 .u-section-1 {
  background-image: none;
  min-height: 834px;
}

.u-section-1 .u-rotation-parent-1 {
  width: calc(((100% - 1140px) / 2) + 387px);
  height: 247px;
  margin: 107px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 437px;
  filter: brightness(0.95);
}

.u-section-1 .u-text-1 {
  font-family: "Alex Brush";
  font-size: 6rem;
  line-height: 0.8;
  margin: -234px 70px 0;
}

.u-section-1 .u-rotation-parent-2 {
  width: 405px;
  height: 228px;
  margin: -177px calc(((100% - 1140px) / 2) + -117px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 228px;
  height: 405px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  text-transform: none;
  line-height: 2.475;
  letter-spacing: normal;
  margin: 54px 70px 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  width: 290px;
  margin: -187px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 188px auto 60px;
  padding: 26px 108px;
}

.u-section-1 .u-countdown-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 437px;
    margin-top: 138px;
    margin-left: calc(((100% - 940px) / 2) + -127px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -227px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-rotation-parent-2 {
    height: 240px;
    margin-top: -156px;
    margin-right: calc(((100% - 940px) / 2) + -124px);
  }

  .u-section-1 .u-image-2 {
    width: 240px;
    filter: brightness(0.95);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 87px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -259px;
    margin-right: calc(((100% - 940px) / 2) + 315px);
    margin-left: calc(((100% - 940px) / 2) + 335px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-top: 73px;
    margin-left: calc(((100% - 720px) / 2) + -218px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -229px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -161px;
    margin-right: calc(((100% - 720px) / 2) + -206px);
  }

  .u-section-1 .u-image-2 {
    width: 150px;
  }

  .u-section-1 .u-text-2 {
    width: 400px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -206px;
    margin-right: calc(((100% - 720px) / 2) + 205px);
    margin-left: calc(((100% - 720px) / 2) + 225px);
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-rotation-parent-1 {
    width: calc(((100% - 1140px) / 2) + 687px);
    margin-left: calc(((100% - 540px) / 2) + -218px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-right: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 648px;
    margin-left: calc(((100% - 1140px) / 2) + 550px);
    margin-right: calc(((100% - 1140px) / 2) + 550px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -151px;
    margin-right: calc(((100% - 540px) / 2) + 115px);
    margin-left: calc(((100% - 540px) / 2) + 135px);
  }

  .u-section-1 .u-countdown-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 567px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 228px;
    height: 127px;
    margin-top: 45px;
    margin-left: -120px;
  }

  .u-section-1 .u-image-1 {
    width: 127px;
    height: 228px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -112px;
    margin-right: 42px;
    margin-left: 58px;
  }

  .u-section-1 .u-rotation-parent-2 {
    width: 198px;
    height: 97px;
    margin-top: -97px;
    margin-right: calc(((100% - 340px) / 2) + -117px);
    margin-left: 362px;
  }

  .u-section-1 .u-image-2 {
    width: 97px;
    height: 198px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    text-transform: uppercase;
    line-height: 0.8;
    letter-spacing: 6px;
    margin-top: 75px;
    margin-right: calc(((100% - 340px) / 2) + -8px);
    margin-left: calc(((100% - 340px) / 2) + 8px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -100px;
    margin-right: 57px;
    margin-left: 93px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 162px;
    margin-right: calc(((100% - 340px) / 2) + -99px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 314px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.3;
  font-weight: 700;
  font-family: "Alex Brush";
  font-size: 3rem;
  margin: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 68px;
  height: 65px;
  margin: -315px auto 0 -38px;
}

.u-section-2 .u-rotation-parent-1 {
  width: 478px;
  height: 269px;
  margin: -417px -239px 60px auto;
}

.u-section-2 .u-image-2 {
  width: 269px;
  height: 478px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: -426px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin: -389px -79px 60px auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 398px;
    height: 224px;
    margin-top: -419px;
    margin-right: -81px;
  }

  .u-section-2 .u-image-2 {
    width: 224px;
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 344px;
    margin-top: -229px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 187px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 29px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -204px;
    margin-bottom: 139px;
    margin-left: -39px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 242px;
    height: 77px;
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 77px;
    height: 242px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 876px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  margin: 42px calc(((100% - 1140px) / 2)) 0;
}

.u-section-3 .u-rotation-parent-1 {
  width: 442px;
  height: 155px;
  margin: -95px calc(((100% - 1140px) / 2) + -55px) 0 auto;
}

.u-section-3 .u-image-1 {
  width: 155px;
  height: 442px;
  filter: brightness(0.95);
}

.u-section-3 .u-rotation-parent-2 {
  width: calc(((100% - 1140px) / 2) + 389px);
  height: 154px;
  margin: -154px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 154px;
  height: 439px;
  filter: brightness(0.95);
}

.u-section-3 .u-gallery-1 {
  width: 700px;
  height: 463px;
  margin: 0 auto 60px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 100px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 50vw;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 62px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 352px;
    height: 123px;
    margin-top: -114px;
    margin-right: calc(((100% - 940px) / 2) + -71px);
  }

  .u-section-3 .u-image-1 {
    width: 123px;
    height: 352px;
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 940px) / 2) + 316px);
    height: 128px;
    margin-top: -123px;
  }

  .u-section-3 .u-image-2 {
    width: 128px;
    height: 366px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 885px;
  }

  .u-section-3 .u-text-1 {
    font-family: "Alex Brush";
    margin-top: 39px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 265px;
    height: 93px;
    margin-top: -69px;
    margin-right: calc(((100% - 720px) / 2) + -105px);
  }

  .u-section-3 .u-image-1 {
    width: 93px;
    height: 265px;
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 720px) / 2) + 196px);
    height: 86px;
    margin-top: -98px;
  }

  .u-section-3 .u-image-2 {
    width: 86px;
    height: 247px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 141px;
    height: 49px;
    margin-top: 462px;
    margin-right: calc(((100% - 1140px) / 2) + 230px);
  }

  .u-section-3 .u-image-1 {
    width: 49px;
    height: 141px;
  }

  .u-section-3 .u-rotation-parent-2 {
    width: 141px;
    height: 49px;
    margin-top: -12px;
    margin-left: calc(((100% - 1140px) / 2) + 228px);
  }

  .u-section-3 .u-image-2 {
    width: 49px;
    height: 141px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-top: 71px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 675px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-right: calc(((100% - 340px) / 2) + -22px);
    margin-left: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -40px;
    margin-right: calc(((100% - 340px) / 2) + -92px);
  }

  .u-section-3 .u-rotation-parent-2 {
    width: calc(((100% - 340px) / 2) + 91px);
    margin-top: -49px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 267px;
    width: 340px;
    margin-top: 30px;
    margin-right: calc(((100% - 340px) / 2) + -22px);
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 886px;
}

.u-section-4 .u-image-1 {
  width: 607px;
  height: 607px;
  margin: -279px auto 0 -124px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  width: 196px;
  margin: -272px auto 0;
}

.u-section-4 .u-text-2 {
  width: 453px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  width: 563px;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 348px;
  height: 348px;
  background-image: url("images/aer-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px auto 0;
}

.u-section-4 .u-text-4 {
  font-family: "Alex Brush";
  font-size: 3.75rem;
  width: 563px;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 958px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: -321px;
    margin-left: -208px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -229px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -181px;
    margin-left: -147px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -102px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1289px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster, display;
  width: 260px;
  margin: 40px auto 0;
}

.u-section-5 .u-image-1 {
  width: 396px;
  height: 396px;
  background-image: url("images/aer-min.jpg");
  background-position: 50% 50%;
  margin: 66px auto 0;
}

.u-section-5 .u-image-2 {
  width: 607px;
  height: 607px;
  margin: -887px -140px 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: "Alex Brush";
  font-size: 3.75rem;
  width: 563px;
  margin: 280px auto 0;
}

.u-section-5 .u-image-3 {
  width: 385px;
  height: 384px;
  background-image: url("images/aer-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 372px;
}

.u-section-5 .u-text-3 {
  font-family: "Alex Brush";
  font-size: 3.75rem;
  width: 563px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 84px;
  }

  .u-section-5 .u-text-2 {
    width: 463px;
  }

  .u-section-5 .u-image-3 {
    width: 399px;
    height: 399px;
    margin-top: 25px;
    margin-left: 269px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -842px;
    margin-right: -245px;
  }

  .u-section-5 .u-text-2 {
    width: 353px;
    margin-top: 248px;
  }

  .u-section-5 .u-image-3 {
    width: 416px;
    height: 416px;
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: 453px;
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-5 .u-image-3 {
    width: 385px;
    height: 385px;
    margin-left: -3px;
    margin-right: -3px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 30px;
    margin-right: 11px;
    margin-left: 69px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: -29px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -613px;
    margin-right: -195px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 295px;
    margin-right: -25px;
    margin-left: 25px;
  }

  .u-section-5 .u-image-3 {
    width: 347px;
    height: 347px;
    margin-top: 61px;
    margin-right: -29px;
    margin-left: 22px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 31px;
    margin-right: -25px;
    margin-left: 25px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-6 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 504px;
  width: 449px;
  margin: 58px 57px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-icon-1 {
  width: 139px;
  height: 139px;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 9px 10px 0;
}

.u-section-6 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 133px auto 0;
}

.u-section-6 .u-group-2 {
  width: 451px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 504px;
  margin: -505px auto 0 65px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-6 .u-icon-2 {
  width: 164px;
  height: 164px;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 9px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 14px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 165px auto 0 112px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 138px 195px 0 219px;
}

.u-section-6 .u-image-1 {
  width: 83px;
  height: 146px;
  margin: 0 369px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 83px;
  height: 146px;
  margin: -146px auto 0 367px;
}

.u-section-6 .u-text-6 {
  font-family: "Alex Brush";
  font-size: 4.5rem;
  line-height: 0.8;
  margin: -89px 440px 60px 450px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-6 .u-group-1 {
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 95px;
    margin-left: 119px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 274px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 287px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 333px;
    margin-left: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 247px;
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 157px;
    margin-right: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1710px;
  }

  .u-section-6 .u-group-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0px;
    padding: 9px 22px;
  }

  .u-section-6 .u-group-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0px;
    margin-top: 166px;
    margin-left: auto;
    padding: 9px 22px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 118px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 100px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -157px;
    margin-left: -23px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -102px;
    margin-left: auto;
    margin-right: auto;
  }
}